.sidebar {
  position: relative;
  height: 600px;
  width: 250px;
  background-color: #002333;
  border: 1px solid #00ff84;
  left: 0%;
  top: 5.43%;
  margin-top: 5%;
  cursor: pointer;
}

.sidebar-list {
  width: 100%;
}

.sidebar-list .row_new {
  margin: 10%;
  color: #f4f4f4;
  width: 200px;
  height: 58px;
}
