/* .dropdown > .btn-default {
  color: #fff;
  background-color: #00ff84;
  padding: 10px 15px;
} */

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

@media screen and (max-width: 1028px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    position: absolute;
    top: 100px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #002333;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}
