.main-container {
  height: fit-content;
  margin: 20px;
  margin-bottom: 30px;
}

.passage-content h2 {
  color: rgb(29, 53, 87);
}

.passage-container {
  background-color: rgb(168, 218, 220);
  border: 1px solid;
  width: 50em;
  display: flex;
  flex-direction: column;
  flex: 200px;
  flex-wrap: wrap;
  margin-bottom: 5px;
  justify-content: center;
}

.passage-content-1 {
  font-size: 20px;
  font-family: Nunito, Helvetica, Arial, sans-serif;
  color: #282828;
  margin-bottom: 5px;
}

.image-container {
  border: 1px solid;
  width: 40em;
  margin-left: 830px;
  margin-top: -9009px;
}

.textbox-container {
  background-color: #002333;
  border: 2px solid;
  width: 40em;
  justify-items: center;
  margin-top: 100px;
  padding-left: 50px;
  margin-left: 830px;
}

.btn-style {
  width: 130px;
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 10px;
  background: #00ff84;
  height: 50px;
  border-radius: 2px;
  background: #00ff84;
  outline: none;
  border: none;
  color: #002333;
  font-size: 1rem;
  border: 1px solid rgb(0, 255, 132);
  /* color: rgb(0, 35, 51); */
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 0px 20px;
  position: relative;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}
