.ielts-listening-hero-container {
    position: relative;
    /* left: 20.97%; */
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    left: -10%;
    /* right: 0%; */
    top: 15.43%;
    bottom: 35.44%;
    background-color: #002333;
    color: #fff;
}

.ielts-listening-hero-wrapper {
    position: relative;
    margin: 50px 0 45px;
    color: #000;
    background: #f4f4f4;
}


.card-item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}

.cards__item {
    margin-bottom: 24px;
  }

.cards__item__info {
    padding: 20px 30px 30px;
  }